#navMobile {
    background-color: rgb(230, 122, 0);
}

.icono {
    display: flex;
    flex-direction: column;
}

.icono i {
    font-size: 1.5em;
}

@media (min-width:992px) {
    #navMobile {
        display: none !important;
    }
}