
.container-songs{

padding-left: 1.5em!important;
padding-bottom: 15em;
}

  @media (min-width: 992px) {
   
    main {
      margin-left: 25vw;
      width: 75vw;
    }
   

  }
  @media (min-width: 1200px) {
    .container-songs{

      padding-left: 3.5em!important;
      }
  }
 
  